build:
  script:
  - git submodule init
  - git submodule update
  - ./compile.sh
  after_script:
  - cd /media/storage/gitlab/
  - sudo rm -rf Blinking_LED_ARM
  - git clone http://git.home.lan/root/Blinking_LED_ARM.git
  - cd Blinking_LED_ARM
  - git submodule init
  - git submodule update
